{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--Main Wrapper-->
	<div class="wrapper">


		
		<!-- Main Section Start -->
		<div class="main-section">
			
			{% include 'customers/cover.html'  %}


			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<!-- Load sidebar here -->
                             {% include "includes/c_sidebar.html" %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
									
																		
									<h5 class="text-uppercase">My Orders</h5>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="user-orders-list">
												<div class="responsive-table">
													<table class="table  table-hover">
														<thead>
															<tr>
															<th scope="col">Order No</th>
															<th scope="col">Name</th>
															<th scope="col">Total</th>
															<th scope="col">Status</th>
															<th scope="col">Date</th>
															<th scope="col">Action</th>
															</tr>
														</thead>
														<tbody>
															{% for i in my_orders %}
															
															<tr>
																
															<td><small>{{i.order_no}}</small></td>
															<td><small>{{i.name}}></small></td>
															<td><small>RS.{{i.total}}</small></td>
															<td><small>{{i.status}}</small></td>
															<td><small>{{i.created_at}}</small></td>
															<td><a href="{% url 'order_details' i.order_no %}" class="btn btn-danger">Details</a></td>

															
															</tr>
															{% endfor %}
														</tbody>
														</table>
												</div>												
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>  
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}