{% load static %}
<div class="wrapper">
	<header id="header">
				<div class="main-header">
					<div class="container-fluid">
						<div class="row align-items-center py-2">
							<div class="col-lg-8 col-md-8 col-sm-12 d-flex align-items-center">
								<div class="logo">
									<figure>
										<a href="{% url 'home' %}" class="light-logo">
											<img src="{% static 'logo/foodOnlineLogo.png' %}" alt="FoodBakery" width="250">
										</a>
									</figure>
								</div>
								
								<div class="main-location ml-4">
									<ul>
										<li class="location-has-children choose-location">
											<form action="#"class="d-flex align-items-center">
												<input type="text" value="" name="location" id="location" placeholder="Your Current Location" autocomplete="off">
												<span id="foodbakery_radius_location_open" class="foodbakery-radius-location" onclick="getLocation()"><i class="icon-target5"></i></span>
											</form>

										</li>
									</ul>
									</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end">
								<div class="login-option d-flex align-items-center flex-nowrap gap-2">
									{% if user.is_authenticated %}
									<a href="{% url 'cart' %}">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="color: red; " width="10px" class="bi bi-cart-fill" viewBox="0 0 16 16">
											<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
										<span class="badge badge-warning" id="cart_counter" style="border-radius:50px; position:relative; bottom:10px; left:-5px;">{{ cart_count }}</span>
										</svg>
									</a>
									{% endif %}


									<a class="btn btn-outline-danger btn-sm text-uppercase font-weight-bold"
									 href="{% url 'marketplace' %}">MarketPlace</a>

									{% if user.is_authenticated %}
										<a class="btn btn-outline-info btn-sm text-uppercase font-weight-bold" data-target="#sign-in"  href="{% url 'myaccount' %}">My Account </a>
										<a class="btn btn-sm-outline-danger btn-sm text-uppercase font-weight-bold" style="color: red;" data-target="#sign-in"  href="{% url 'logout' %}">Logout </a>
									{% else %}
										<a class="btn btn-sm font-weight-bold" style="color: black;" data-target="#sign-in"  href="{% url 'login' %}">Login </a>/
											<span> <a class="btn btn-sm font-weight-bold" href="{% url 'userregister' %}">Register</a></span>
											<a class="btn btn-outline-danger btn-sm text-uppercase font-weight-bold" href="{% url 'vendorregister' %}">
											Register Restaurant </a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
</div>

<!--  this function for getting current loction using js take from w3school -->
 <script>
const x = document.getElementById("location");
// here we are present after page reload to location dissapears . it will set hold location value even after roalding pg
var current_location = sessionStorage.getItem('current_location')
if(current_location != ""){
	x.value=current_location;

}

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function success(position) {
	var lat=position.coords.latitude;
	var long= position.coords.longitude;

	x.value = lat + ','+long
// hit AJAX request to googlemaps api endpoint and get the location data using above lat long
	var GOOGLE_API_KEY = '{{ GOOGLE_API_KEY }}'
	var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+lat+','+long+'+&key='+GOOGLE_API_KEY

	$.ajax({
		url:url,
		type: 'GET',
		success : function(response){
			var current_location = response.results[0].formatted_address
			x.value = current_location
			sessionStorage.setItem('current_location',current_location) // here we are storing current location in session so not goes way after reload
			window.location='?lat='+lat+'&lng='+long
		}
	})

}

function error() {
  alert("Sorry, no position available.");
}
</script>