{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<!-- Main Section Start -->
			<div class="main-section pt-5">

				<div class="page-section">
					<div class="container">
						<div class="row">
							
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Review Your Billing Address</a></li>
										
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane in active">
											<div class="menu-itam-holder">
											
                                                <div id="menu-item-list-6272" class="menu-itam-list">

												<div class="billing_address">
													<b> {{order.name}}</b>
													<div> {{order.address}}</div>
													<div> {{order.city}}-{{order.pin_code}}</div>
													<div> {{order.state}},{{order.country}}</div>
													<div><b>Phone:</b> {{order.phone}}</div>
													<div><b>Email:</b> {{order.email}}</div>
													<div><b>Payment:</b> {{order.payment_method}}</div>
													<br>
													<div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Edit</a></div>
												</div>
											</div>
										</div>
										</div>
										
									</div>
								</div>
							</div>


                            <!-- You Order Section -->
                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
										
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane in active">
											<div class="menu-itam-holder">
												
												<div class="table-responsive">
													
													<table class="table table-borderless table-sm">
														<tbody>
															{% for item in cart_item %}
															<tr>
																<td class="text-nowrap">
																	<img src="{{ item.fooditeam.image.url }}"
																		width="30"
																		height="30"
																		style="object-fit: cover;"
																		alt="Food Image">
																</td>

																<td class="text-truncate" style="max-width: 120px;">
																	<small><b>{{ item.fooditeam }}</b></small>
																</td>

																<td class="text-nowrap">
																	<small>{{ item.quantity }} QTY</small>
																</td>

																<td class="text-nowrap text-right">
																	<small>₹ {{ item.fooditeam.price }}</small>
																</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>



														<!-- <div class="cart-row">
																{% for item in cart_item %}
																	<div class="cart-item">
																		<img src="{{ item.fooditeam.image.url }}" width="30" alt="Food Image">
																		<small><b>{{ item.fooditeam }}</b></small>
																		<span><small> {{ item.quantity}}QTY</small></span>
																		<span><small> RS{{ item.fooditeam.price }}</small></span>
																	</div>
																{% endfor %}
															</div> -->
                                                    <ul>
                                                        <li style="list-style-type: none;">
                                                            Subtotal
                                                            <span class="price float-right"> 
                                                                <span class="currency" >$ </span>
                                                                <span id="subtotal" > {{subtotal}} </span>
															</span>
                                                        </li>

														{% for key ,value in tax_dict.items %}
															{% for i , j in value.items %}
															<li style="list-style-type: none;">
																{{key}}<small>({{i}}%)</small>
																<span class="price float-right"> 
																	<span class="currency" >$ </span>
																	<span id="tax" >{{ j }}</span>
																</span>
															</li>
															{% endfor %}
														{% endfor %}

                                                        <li style="list-style-type: none; font-weight: 600;">
                                                            Total
                                                            <span class="price float-right" > 
                                                                <span class="currency" >$ </span>
                                                                <span id="total" >{{grand_total}}</span>
															</span>
                                                        </li>
														<div class="rzp-payment">
															<button class="btn btn-danger w-100 p-2" id="rzp-button1">
																Pay with Razorpay</button>
																<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
														</div>
														
                                                    </ul>
                                                </div>
											</div>
										</div>
										
									</div>
								</div>
							
							
						</div>
					</div>
				</div>
			</div>
			<!-- Main Section End -->

<script>

	// Razorpay button here 

	var options = {
			"key": "{{rzp_key_id}}", // Enter the Key ID generated from the Dashboard
			"amount": "{{rzp_amount}}", // Amount is in currency subunits.
			"currency": "INR",
			"name": "FoodOnline ", //your business name
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": "{{rzp_order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response){
				alert(response.razorpay_payment_id);
				alert(response.razorpay_order_id);
				alert(response.razorpay_signature)
				var transaction_id = response.razorpay_payment_id
				var payment_method = 'RazorPay'
				var status = "Success"
				sendTransaction(transaction_id,payment_method,status)


			},
			"prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
				"name": "{{order.name}}", //your customer's name
				"email": "{{order.email}}", 
				"contact": "{{order.phone}}"  //Provide the customer's phone number for better conversion rates 
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		rzp1.on('payment.failed', function (response){
				alert(response.error.code);
				alert(response.error.description);
				alert(response.error.source);
				alert(response.error.step);
				alert(response.error.reason);
				alert(response.error.metadata.order_id);
				alert(response.error.metadata.payment_id);
		});
		document.getElementById('rzp-button1').onclick = function(e){
			rzp1.open();
			e.preventDefault();
		}
// payment razorpay getway end here

//  send the data to payment views to store in datavbase

	function sendTransaction( transaction_id,payment_method,status){
		$.ajax({

			type:'POST',
			url:url,
			data :{
				'order_number':order_number,
				'transaction_id' : transaction_id,
				'payment_method' : payment_method,
				'status': status,
				'csrfmiddlewaretoken':csrftoken

			},
			success:function(response){
				windows.location.href = order_complete + '?order_no-'+ response.order_number+'&transaction_id='+response.transaction_id
			}
		})
	}


</script>




{% endblock %}